body {
    margin: unset;
    background-color: lightgray;
}

.wrapper {
    background-color: white;
    width: 448px;
    height: 494px;
    margin: 200px auto;
    box-shadow: inset 0 0 20px red;
}

.header {
    font-size: 24px;
    font-weight: bold;

    color: #ff007a;
    line-height: 120px;
    box-shadow: inset 0 0 20px blue;
}

.header .bar {
    width: 8px;
    height: 32px;

    background-color: #ff007a;
}

.contents {

    height: 374px;
    vertical-align: top;
    box-shadow: inset 0 0 20px gold;
}